* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: var(--lavender, #c4d2f5);
  padding: 100px;
  font-family: inter;
}

.player {
  background-color: white;
  display: flex;
  width: 440px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  box-shadow: 0 0 0 20px rgba(255, 254, 254, 0.15);
}

.player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.player-track-title {
  font-size: 18px;
  font-weight: 700;
}

.player-track-artist,
.player-time {
  font-size: 15px;
  font-weight: 700;
  color: var(--gray, #909090);
}

.player-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.player-progress-bar {
  width: 283px;
  height: 6px;
  border-radius: 3px;
  background: var(--light-gray, #f6f6ef);
}

.player-progress-inner {
  height: 6px;
  background: var(--purple, #e783bc);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.player-button {
  color: white;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  width: 74px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 37px;
  background: var(--purple, #e783bc);
}

audio {
  display: none;
}
